<div class="logo-wrap">
    <img class="logo" alt="The Bowdoin Orient" src="images/orient.min.svg"/>
</div>
<nav>
    <div class="sections">
        <span class="news">News</span>
        <span class="features">Features</span>
        <span class="artsent">Arts and Entertainment</span>
        <span class="sports">Sports</span>
        <span class="opinion">Opinion</span>
    </div>
    <div class="mobile-burger">
        <div class="news"></div>
        <div class="features"></div>
        <div class="artsent"></div>
        <div class="sports"></div>
        <div class="opinion"></div>
    </div>
</nav>