<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->

    <!-- 768 < w < 1024 (iPad, desktop) -->
    <source srcset="{{imgBase}}_1024w.jpg, {{imgBase}}_2048w.jpg 2x" media="(min-width: 768px)">

    <!-- 320 < w < 768 (phablet, landscape phone) -->
    <source srcset="{{imgBase}}_768w.jpg, {{imgBase}}_1536w.jpg 2x" media="(min-width: 320px)">

    <!-- w < 320 (phone, thumbnail) -->
    <source srcset="{{imgBase}}_320w.jpg, {{imgBase}}_640w.jpg 2x" media="(min-width: 1px)">

    <!--[if IE 9]></video><![endif]-->

    <!-- Fallback -->
    <img src="{{imgBase}}.jpg">
</picture>