header {
    width:100%;
    position:fixed;
    left:0;
    background-color:white;
    z-index:2147483647;  // lol http://softwareas.com/whats-the-maximum-z-index/
    @include vendor-prefix("transform-origin", "top 50%");
    @include vendor-prefix("transform", "rotateX(0deg)");
    @include vendor-prefix("transition", "transform 1s linear");


    .logo-wrap {
        height:50px !important;
        margin:0;
        display:inline-block;

        .logo {
            height:inherit;
            padding:10px 0 10px 0;
            width:auto;
            margin-left:10px;
        }
    }

    nav {
        width:35px;
        display:inline-block;
        position:absolute;
        top:7px;
        right:20px; 
        height:40px;

        .sections {
            display:none;
        }

        .mobile-burger {
            display:block;
            width:35px;
            cursor:pointer;

            .burger-lines {
                width:35px;
                height:3px;
                display:inline-block;
                position:relative;
                background-color:$lightgray;
                content: '\00A0';
                top:18px;

                @include vendor-prefix("user-select", "none");
                @include vendor-prefix("tranform-origin", "center 50%");
            }

            .burger-lines:after {
                @extend .burger-lines;
                
                top:-10px;

                &.active {
                    @include vendor-prefix("transform", "rotate3d(0,0,1,45deg)");    
                } 
            }

            .burger-lines:before {
                @extend .burger-lines;
                
                top:-8px;

                &.active {
                    @include vendor-prefix("transform", "rotate3d(0,0,1,-45deg)");    
                } 
            }
        }
    }
}